* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  font-family: "EB Garamond", serif;
}
.App {
  margin: 0 auto;
}
